/* For small devices */
@media screen and (max-width: 320px){
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__button {
        font-size: var(--smaller-font-size);
        padding: 1.3rem;
    }

    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__img {
        width: 180px;
    }

    .story__square,
    .testimonial__square {
        height: 180px;
    }

    .products__container {
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
    }
}

@media screen and (min-width: 500px) {
    .home__img-1{
        display: none;
    }

    .home__img-2{
        display: inherit;
    }

    .home__data{
        position: absolute;
        transform: translatey(3rem);
        padding: var(--mb-1-5);
    }

    .home__description{
        margin-bottom: var(--mb-1);
        font-size: var(--small-font-size);
    }

    .products__tabs{
        column-gap: var(--mb-1-5);
    }    
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__title{
        font-size: var(--h1-font-size);
    }

    .products__tabs{
        gap: var(--mb-1-5);
        grid-template-columns: repeat(4, 1fr);
    } 

    .featured__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;
    }
    
    .footer{
        padding: 4rem 0 1rem;
    }

    .footer__container {
      grid-template-columns: repeat(2, 1fr);
      padding:  var(--mb-0-5);
      
    }
}
 
@media screen and (min-width: 767px) {
    .section {
        padding: 7rem 0 1rem;
    }
    
    .cart {
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;
    }

    .nav__toggle, 
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav__link {
        text-transform: initial;
        font-size: var(--normal-font-size);
    }

    .nav__btns {
        margin-left: auto;
    }

    .home__container {
        padding-top: 1rem;
        grid-template-columns: 1fr max-content;
        align-items: center;

    }

    .home__data {
        padding: 3rem 0 3rem 3rem;
        transform: translatey(-2rem);
        gap: 2rem;
    }
    
    .home__title{
        font-size: var(--biggest-font-size);
        letter-spacing: .1rem;
        margin-bottom: var(--mb-0-5);
    }

    .home__description{
        font-size: var(--normal-font-size);
        letter-spacing: .06rem;
        margin-bottom: var(--mb-2-5);
    }

    .button--small{
        font-size: var(--normal-font-size);
    }
    .featured__title,
    .featured__price,
    .new__title,
    .new__price {
        font-size: var(--normal-font-size);
    }

    .story__container,
    .newsletter__bg {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .story__description{
        font-size: var(--normal-font-size);
        letter-spacing: .03rem;
    }

    .story__images {
        order: -1;
    }
    
    .story__img{
        left: 2rem;
        top: -2rem;
    }
    
    .products__container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2.5rem;
    }

    .products__card {
        padding: 2rem 0;
    }

    .products__img {
        height: 155px;
    }
    
    .products__tabs{
        padding: var(--mb-1) var(--mb-3);
    } 

    .new__tag{
        padding: .3rem .6rem;
    }

    .newsletter__bg {
        text-align: initial;
        column-gap: 2rem;
        padding: 4rem;
    }

    .newsletter__subscribe {
        flex-direction: row;
    }
    
    .newsletter__subscribe .button{
        letter-spacing: .1rem;
        border-radius: 0;
        border: 1px solid var(--border-color);
        background-color: var(--first-color);
        color: var(--white-color);
    }

    .newsletter__input {
        width: 80%;
    }

    .footer__container {
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }
    
    .footer__content{
        padding: var(--mb-0-5);
    }

    .footer__title {
        font-size: var(--h3-font-size);
    }

    .footer__deal,
    .footer__deasl,
    .footer__link{
        font-size: var(--small-font-size);
    }

    .footer__list li{
        align-items: flex-start;
    }

}


@media screen and (min-width: 992px){
    .section__title {
        font-size: var(--h2-font-size);
    }

    .home__container {
        column-gap: 0;
        margin-bottom: var(--mb-1-5);
    }

    .home__data {
        padding: 3rem 0 8rem 4rem;
    }

    .featured__container {
        grid-template-columns: repeat(3, 300px);
        padding-top: 2rem;
    }
      
    .story__container,
    .testimonial__container {
        column-gap: 4rem;
    }

    .story__container{
        padding: 0 var(--mb-1-5);
    }  

    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__img {
         width: 300px;
    }

    .story__square,
    .testimonial__square {
        height: 300px;
    }

    .products__tabs{
        padding: var(--mb-1) 5rem;
    } 

    .products__container{
        grid-template-columns: repeat(4, 1fr);
    }
    
}


/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
    }

    .story__container,
    .testimonial__container {
        column-gap: 4rem;
    }

    .story__container {
        padding-top: 3rem;
    }

    .scrollup {
        right: 3rem;
    }

}


