.button{
    display: inline-block;
    // background-color: var(--button-color);
    border: 1px solid var(--first-color);
    color: var(--first-color);
    padding: .75rem 1rem;
    font-weight: var(--font-medium);
    transition: .3s;
    border-radius: 5px;

    &:hover{
        background-color: var(--first-color);
        color: var(--white-color);
    }

    // &--gray{
    //     background-color: hsl(0, 0%, 75%);
    //     color: var(--title-color);

    //     &:hover{
    //         background-color: hsl(0, 0%, 63%);
    //     }
    // }
    
    &--small{
        padding: .5rem .75rem;
        font-size: var(--small-font-size);
    }
}